@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@wy-color-bg: #fff;
@wy-line-height: 1.6em;

.wallly-post {
  background-color: @wy-color-bg;
  padding: 0.8em;
  font-size: 1.4em;
  line-height: @wy-line-height;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: @grid-gutter-width;
}
  .wallly-post-media {
    margin-bottom: 0.8em;
  }
  .social_content {
    max-height: @wy-line-height * 5;
    overflow: hidden;
    // text-overflow: ellipsis;
  }


.wallly_container_wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
  .wallly_container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  .wally_container_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }