@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@wy-color-bg: #fff;

.wallly-post {
  background-color: @wy-color-bg;
  padding: 0.8em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: @grid-gutter-width;
}
  .wallly-post-media {
    margin-bottom: 0.8em;
  }