body {
  background-color: #ccc;
}
.ict-logo {
  height: 56px;
  float: left;
}
h1 {
  // margin: 0 0.6em 0.6em !important;
  img {
    margin-right: 20px;
  }
}
.bottom-logo {
  height: 36px;
}
.wallly_container_wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
  .wallly_container {
    overflow: auto;
  }
  .wally_container_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }