body {
  background-color: #ccc;
  height: 100vh;
}
.ict-logo {
  height: 56px;
  float: left;
  margin-top: -6px;
}
h1 {
  // margin: 0 0.6em 0.6em !important;
  img {
    margin-right: 20px;
  }
}
.bottom-logo {
  height: 36px;
}
.footer-credits {
  li {
    margin-right: @grid-gutter-width;
    h3 {
      margin: 0;
    }
  }
}
