html {
  margin-top: 0 !important
}

body {
  background-color: #E9E9E9;
}

.wally_container_header {
  margin-bottom: 40px;
}

.ict-logo {
  height: 56px;
  float: left;
  margin-top: -6px;
}

.booncon-image-container {
  margin-right: auto;
  margin-left: auto;
}

.header-icon {
  width: 80%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  // margin: 0 0.6em 0.6em !important;

  color: white;
  img {
    margin-right: 20px;
  }
}

.footer-credits {
  margin: 0;
  li {
    text-align: center;
    margin-right: @grid-gutter-width;
    .bottom-logo {
      height: 36px;
      // margin-bottom: 0.6em;
    }
    .bottom-title {
      margin: 0;
      display: none;
    }
  }
}
.bottom-link {
  font-weight: 300;
}
